* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  /* Color */
  --titles-color: hsl(217, 19%, 35%);
  --paragraph-color: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --background-color: hsl(210, 46%, 95%);

  --primary: var(--titles-color);
  --bs-primary: var(--titles-color);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.3rem;
  font-family: "Manrope", sans-serif;
  background-color: var(--background-color);
  padding: 2rem;
}
