.card {
  max-width: 73rem;
  width: 100%;
  box-shadow: 0 4rem 4rem -1rem rgba(201, 213, 225, 0.5);
}

.card-title {
  font-size: 1.6rem;
  letter-spacing: 0.02rem;
  line-height: 2.3rem;
  color: var(--titles-color);
  font-weight: 700;
}

.card-body {
  padding: 3rem;
}

.card-text {
  color: var(--paragraph-color);
  line-height: 2rem;
  letter-spacing: 0.05rem;
  padding-bottom: 1rem;
}

.avatar-img {
  width: 4rem;
  height: 4rem;
}

.avatar-name {
  color: var(--titles-color);
  font-weight: 700;
  letter-spacing: 0.012rem;
}

.post-date {
  color: var(--paragraph-color);
  letter-spacing: 0.012rem;
}

.card-con {
  border-radius: 1rem;
  overflow: hidden;
}

.share-btn-case1 {
  background-color: var(--background-color);
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
}
.share-btn-case1:hover {
  background-color: var(--titles-color);
}
.share-btn-case1:hover svg path {
  fill: white;
}
.share-btn-case2 {
  background-color: white;
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
}
.share-btn-case2:hover {
  background-color: var(--paragraph-color);
}
.share-btn-case2:hover svg path {
  fill: white;
}

.foot-social {
  background-color: var(--titles-color);
}

.foot2-display {
  display: none !important;
  /* animation: name duration timing-function delay iteration-count direction
    fill-mode; */
  animation-delay: 0.5s;
  animation-duration: 0.5s;
}

.SHARE_P {
  color: var(--paragraph-color);
  letter-spacing: 0.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-right: 1rem;
}

.social-media {
  margin: 0;
  padding: 0;
}

.social-media-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2.6rem 3rem;
}

.card-img {
  height: 100%;
}
